#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.ant-tabs-tab:hover {
  background-color: blue; /* Hover background color */
  color: white; /* Text color on hover */
}
.custom-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border-color: #ff0000; /* Red border */
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff0000; /* Red background when checked */
  border-color: #ff0000;
}

.custom-checkbox .ant-checkbox-checked::after {
  border-color: white; /* Checkmark color */
}

