/* .custom-tabs .ant-tabs-tab {
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  transition: all 0.3s ease;
}

.custom-tabs .ant-tabs-tab:hover {
  background-color: #c3bdbd;
}

.custom-tabs .ant-tabs-tab-active {
  background-color: white;
  color: black;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #7d2923;
  height: 4px;
} */
